@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@-webkit-keyframes wavemove {}
@keyframes wavemove {}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*
html{
    --res: calc(0.01 * 10vmin);
}
*/
body {
  width: 100%;
  height: 100%;
  background-color: #1d1c1b;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}
.page .fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.page .loader {
  pointer-events: none;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  z-index: 10;
}
.page .loader .svg-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page .loader .svg-position svg {
  width: 120px;
  -webkit-animation: rotate 2s infinite ease;
          animation: rotate 2s infinite ease;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page .header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.page .header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 4vw;
}
.page .header ul svg {
  width: 60px;
}
.page .header ul a {
  background: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 50px;
}
.page .torsolol {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page .torsolol .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 3vw;
  text-shadow: 1px 1px 1px #cf1020, 1px 2px 1px #cf1020, 1px 3px 1px #cf1020, 1px 4px 1px #cf1020, 1px 18px 6px rgba(207, 16, 32, 0.4), 1px 22px 10px rgba(207, 16, 32, 0.2), 1px 25px 35px rgba(207, 16, 32, 0.2), 1px 30px 60px rgba(207, 16, 32, 0.4);
}
.page .torsolol .box1 :nth-child(1) {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 5px;
}
.page .torsolol .box1 :nth-child(2) {
  font-size: 50px;
  font-weight: 600;
}
.page .torsolol .box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex: 2;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab !important;
  cursor: grab !important;
}
.page .torsolol .box2 :active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.page .torsolol .box2 iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page .torsolol .box2 iframe #document canvas {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}
.page .torsolol .box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 3vw;
}
.page .torsolol .box3 :nth-child(1) {
  font-size: 22px;
  font-family: "Nunito", sans-serif;
  text-shadow: 1px 1px 1px #cf1020, 1px 18px 6px rgba(207, 16, 32, 0.1);
}
.page .torsolol .box3 a {
  margin-top: 1vw;
  font-weight: 700;
  background: #cf1020;
  color: white;
  padding: 13px 35px;
  border-radius: 50px;
  z-index: 1;
}
.page .torsolol .box3.active-box {
  display: flex;
}
.page .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.page .footer .colorchoice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 200px;
  height: 100%;
}
.page .footer .colorchoice .color {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.page .footer .colorchoice :nth-child(1) {
  background: red;
}
.page .footer .colorchoice :nth-child(2) {
  background: red;
  margin: 0 10px;
}
.page .footer .colorchoice :nth-child(3) {
  background: red;
}
@media screen and (max-width: 1024px) {
  .page .torsolol .box2 {
    height: 70%;
  }
}
@media screen and (max-width: 768px) {
  .page .torsolol {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .page .torsolol .box2 {
    height: 100%;
  }
  .page .torsolol .box3 {
    display: none;
    align-items: center;
  }
}/*# sourceMappingURL=INDEX-style.css.map */